# Ignore all and then selectivly allow
**/*

# api
!package.json
!package-lock.json
!nest-cli.json
!tsconfig.build.json
!tsconfig.json

!src/**/*

# frontend
!frontend/.env.production
!frontend/package.json
!frontend/package-lock.json
!frontend/postcss.config.js
!frontend/tailwind.config.js
!frontend/tsconfig.json
!frontend/src/**/*
!frontend/public/**/*
